.card {
    position: relative;
    min-height: 10rem;
    width: 25rem;
    background-color: $color-light-green;
    color: $color-dark-brown;
    border-radius: 3px;
    margin: 1rem;

    @include respond(phone) {
      margin: .5rem;
    }

    &__heading {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        background-color: $color-orange;
        color: $color-white;
        padding: 1rem;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        @include respond(phone) {
          text-align: left;
        }
    }

    &__details {
        padding: 1.2rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: left;
                font-size: 1.8rem;
                font-weight: 400;
                padding: 0;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-1;
                }
            }
        }
    }
}