*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @include respond(tablet-landscape) {
    font-size: 56.25%;
  }

  @include respond(tablet-portrait) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  @include clearfix;
}