.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-medium { margin-top: 5rem !important; }
.u-margin-top-small { margin-top: 2.5rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-padding-top-big { padding-top: 8rem !important; }
.u-padding-top-medium { padding-top: 5rem !important; }
.u-padding-top-small { padding-top: 2.5rem !important; }
.u-padding-top-huge { padding-top: 10rem !important; }

.u-padding-bottom-big { padding-bottom: 8rem !important; }
.u-padding-bottom-medium { padding-bottom: 5rem !important; }
.u-padding-bottom-small { padding-bottom: 2.5rem !important; }
.u-padding-bottom-huge { padding-bottom: 10rem !important; }

.u-padding-right-big { padding-right: 8rem !important; }
.u-padding-right-medium { padding-right: 5rem !important; }
.u-padding-right-small { padding-right: 2.5rem !important; }
.u-padding-right-huge { padding-right: 10rem !important; }

.u-padding-left-big { padding-left: 8rem !important; }
.u-padding-left-medium { padding-left: 5rem !important; }
.u-padding-left-small { padding-left: 2.5rem !important; }
.u-padding-left-huge { padding-left: 10rem !important; }

.u-padding-big { padding: 8rem !important; }
.u-padding-medium { padding: 5rem !important; }
.u-padding-small { padding: 2.5rem !important; }
.u-padding-huge { padding: 10rem !important; }