.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 5rem;

  @include respond(large-desktop) {
    padding: 0;
  }

  @include respond(tablet-landscape) {
    padding: 0;
  }

  @include respond(tablet-portrait) {
    padding: 2rem;
  }

  @include respond(phone) {
    padding: 0rem;
  }
}

.section-request-form {
  min-height: 55rem;
  background-color: $color-grey-light-1;
  padding: .25rem;
  border-radius: 3px;
  width: 100%;

  &--form {

    label {
      font-size: 2rem;
      color: $color-dark-brown;
      padding: 1.5rem 0 .5rem 0;
    }

    label.disable {
      color: $color-light-brown;
    }

    .time-container {
      width: 50%;
    }

    input, .input-time{
      height: 4rem;
      width: 15rem;
      border: 2px solid $color-light-green;
      border-radius: 3px;
      font-size: 2rem;
      font-family: Helvetica Neue;
      color: $color-dark-brown;
      padding: .3rem;
      -webkit-appearance: none;
      background-color: inherit;
      text-align: right;

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        text-align: center;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        text-align: center;
      }
      :-ms-input-placeholder { /* IE 10+ */
        text-align: center;
      }
      :-moz-placeholder { /* Firefox 18- */
        text-align: center;
      }
    }

    .input-time {
      width: 10rem;
      text-align: center;
      padding: .5rem;
    }

    .input-date-year {
      width: 7.5rem;
      margin: 0 .5rem 0 0;
      text-align: center;
    }

    .input-date-month {
      width: 6rem;
      margin: 0 .5rem 0 .5rem;
    }

    .input-date-day {
      width: 4.5rem;
      margin: 0 0 0 .5rem;
    }

    /* Removes the clear button from date inputs */
    input[type="date"]::-webkit-clear-button {
        display: none;
    }

    /* Removes the spin button */
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }

    /* Always display the drop down caret */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #2c3e50;
    }

    ::-webkit-input-placeholder {
       text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
       text-align: center;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       text-align: center;
    }

    :-ms-input-placeholder {
       text-align: center;
    }


    select:disabled {
      border: 1px solid $color-light-brown;
      color: $color-light-brown;
    }

    select {
      height: 40px;
      width: 130px;
      border: 2px solid $color-light-green;
      border-radius: 3px;
      font-size: 20px;
      font-family: Helvetica Neue;
      color: $color-dark-brown;
      padding: 3px;
      background: transparent;
      -webkit-appearance: none;
      text-align: center;
      text-align-last: center;
    }

    .card {
      margin-left: 0;
    }

    .upcoming-appointment {

      @include respond(phone) {
        display: none;
      }
    }
  }

  /* lists */
  .legend {
    min-height: 1.5rem;
    width: 100%;
    margin: 0;
    @include clearfix;
    text-align: right;
    position: relative;

    li {
      height: 1.5rem;
      padding: 0 1rem;
      font-size: 1.5rem;
      display: inline-block;
      color: $color-dark-brown;

      @include respond(phone) {
        height: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding: .5rem;
        margin: 1rem 0;
      }
    }

    li:hover {
      cursor: default;
    }

    .legend-icon {
      height: 2rem;
      width: 2rem;
      border: .1rem solid $color-dark-brown;
      border-radius: 50%;

      @include respond(phone) {
        margin: 1rem;
      }
    }
  }

  .available {
    background: $color-white;
  }

  .requesting {
    background: $color-light-green;
  }

  .submitted {
    background: $color-orange;
  }

  .unavailable {
    background: $color-light-brown;
  }

}

.section-my-appointments, .form-request-appointment, .section-no-match {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  min-height: 55rem;
  background-color: $color-grey-light-1;
  padding: 1rem;
  border-radius: 3px;

  &--list {
    width: 100%;
  }

  .request-flow {
    min-height: 200px;
  }

  .link {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 0;
    color: $color-dark-brown;

    &:hover {
      color: $color-orange;
      text-decoration: underline;
    }
  }
}

.form-request-appointment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 2rem;
}
